<%= stylesheet_link_tag    "newCarClass" %>
<%= stylesheet_link_tag    "editCarClass" %>
<h1 id="editCarClass"><%= image_tag("arrow.png", :alt => "Arrow")%>Editing Car class</h1>

<%= render 'form' %>

