#main_wrapper
{
	width: 900px;
	margin: auto;
	margin-top: -10px;
}

#body
{
	font-family: 'Trebuchet MS', Arial, sans-serif;
	color: #181818;
}

#header
{
	position: relative;
	border-bottom-left-radius: 7px;
	border-bottom-right-radius: 7px;
	border-bottom:solid 3px;
}

#header li a:hover
{
	color:#136BE4;
}

#header ul
{
	list-style-type: none;
	position:absolute;
	right:0em;
	bottom:0em;
	margin-bottom:0px;
	margin-top:0px;
	padding-top:0px;
}

#article h1
{
	padding:0px;
	margin:0px;
}

#main_nav
{
	position: relative;
	z-index: 2;
	background-image: url(navbar.png);
	background-repeat: repeat-x;
	border-bottom-left-radius: 7px;	
	border-bottom-right-radius: 7px;	
	margin-top: -25px;
}

#main_nav ul
{
	padding-top: 5px; 
	padding-bottom: 0px;
	padding-left: 0px;
	height: 31px; 
	width: 900px; 
	list-style-type: none;
	margin: 0;
}

#main_nav li
{
	display: inline-block;
}

#main_nav li a
{
	text-decoration:none;
	font-family: 'Trebuchet MS', Arial, sans-serif;
	color: white;
	padding-top: 5px;
	padding-bottom: 10px;
	padding-right: 5px;
	margin: 0;
}

#main_nav li a:hover
{
	background-image: url(button_hover.png);
	padding-top: 5px;
	padding-bottom: 10px;
	padding-right: 5px;
	height: 20;
	margin: 0;
	color: black;
	}
	
#second_tab a, #second_tab a:hover
{
	padding-left:5px;
}

#first_tab a
{
	padding-left: 10px;
}

#first_tab a:hover
{
	border-bottom-left-radius: 7px;
}

#main_nav li img
{
	vertical-align: -3px;
	margin: 0;
}

#notice
{
	margin-left: 400px;
	text-decoration:none;
	font-family: 'Trebuchet MS', Arial, sans-serif;
	color: white;
}

#main_login a
{
	right: 0px; 
	left: 830px;
	top: 0px;
	border-bottom-width: 0px; 
	margin-bottom: 5px; 
	margin-top: 0px; 
	position: absolute;
	padding-left : 5px;
	padding-right : 5px;
	padding-top : 5px;
	border-top-right-radius: 7px;
	border-bottom-right-radius: 7px;
	z-index: 2;
	background-image : url(navbar.png);
	text-decoration: none;
	color:#124465;
}

#login_dropdown
{
	display: none;
	position: absolute;
	width: 300px;
	padding: 10px;
	padding-left: 10px;
	top: 36px; 
	background-color: white;
	z-index: -1;
	left: 580px; 
	border-bottom-left-radius: 7px;
	border-bottom-right-radius: 7px;
	box-shadow: 0px 4px 8px #181818;
	text-decoration:none;
}

#login_dropdown p
{
	margin-top: 0px;
}

#Arrow
{
	padding-left: 5px;
}

#aside
{
	border: 3px solid #000000;  
	display: inline-block;
	width: 200px;
	height: 500px;
	margin-top: 5px;
}

#advertisement
{ 
	display: inline-block;
	width: 682px;
	height: 300px;
	vertical-align: top;
	margin-top: 5px;
}

#article
{
	width: 700px;
	margin-right: 10px;
	display: inline-block;
}

.error
{
    font-size: 0.7em;
    color: #900;
    background-color : #ffff00;
}

footer
{
    background:	url('bar.png') repeat-x top, url('shadow.png') repeat-x top;
    padding-top: 25px;
}


#rights
{
	text-align: center;
    font-size: 1.1em;
	margin-top: 20px;
}
