#newBooking
{
	width: 410px;
	background: url(button2.png);
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left:5px;
	color: white;
	margin-bottom: 2px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

#newBooking img
{
	margin-right: 5px;
	margin-left: 5px;
}

#BookingForm{
border:solid;
border-color:#A9A9A9;
padding:5px;
width:400px;
height:auto;
}

form label{
font-weight:bold;
text-align:right;
padding-right: 10px;
width:140px;
float:left;
}
form input{
float:left;
font-size:12px;
padding:4px 2px;
border:solid 1px #aacfe4;
width:200px;
margin:2px 0px 20px 0px;
padding:1px;
}

form #booking_booking_postcode{
margin-bottom: 0px;
margin-left:2px;
width:100px;
}
form #booking_promocode{
width:100px;
margin-left:2px;
}
.actions input{
width:120px;
float:right;
border-radius:100px;
margin-left: 30px;
}

.field
{
	width:400px;
}

textarea {
    resize: none;
}

#indexAccess
{
	color: white;
	border: 5px outset #A9A9A9;
	background: url(button3.png);
	margin-bottom: 5px;
	width: 262px;
	padding-top: 8px;
	padding-right: 5px;
	padding-bottom: 8px;
	padding-left:5px;
}

#indexAccess img
{
	margin-right: 5px;
	margin-left: 5px;
}

a
{
	text-decoration: none;
}

#indexAccess:hover
{
	border: 5px inset #A9A9A9;
}
